.card-container {
    width: 320px;
    height: 480px;
    margin: 0 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 12px;
    font-style: normal;
    padding: 21px 16px 16px 51px;
    margin-bottom: 14px;
    background: no-repeat url("./img/background-cat.png") 0% 100%, no-repeat url("./img/card-background.svg") 0% 100%;

}

.card-container:first-child {
    margin-left: 0;
}

.card-container:last-child {
    margin-right: 0;
}

