.card-list {
    font-family: "Trebuchet MS", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.card-wrapper {
    margin: 0 auto 25px auto;
}

.card-wrapper:last-child {
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .card-list {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card-wrapper {
        margin-right: 0;
    }

    .card-wrapper:first-child {
        margin-right: 80px;
    }
}


@media (min-width: 1200px) {
    .card-list {
        display: inline-flex;
        flex-direction: row;
    }

    .card-wrapper {
        margin-right: 80px;
        margin-bottom: 0;
    }

    .card-wrapper:last-child {
        margin-bottom: 0;
    }
}