.buy-button {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}

#buy-btn {
    text-decoration: underline;
    text-decoration-style: dashed;
    border: none;
    background-color: transparent;
    padding: 0 0;
    cursor: pointer;
}

#buy-btn:focus {
    outline:0;
}

.buy-button.default #buy-btn {
    color: #1698D9;
}

div.buy-button.default:after {
    content: ".";
    color: #1698D9;
}

.buy-button.default-hover #buy-btn {
    color: #2EA8E6;
}

div.buy-button.default-hover:after {
    content: ".";
    color: #2EA8E6;
}