@font-face {
  font-family: 'Exo 2.0';
  src: local('Exo 2.0'), url(./fonts/Exo2.0-Thin.otf) format('otf');
}

body {
   margin: 0;
   background-image: url("background-pattern.png");
   font-family: 'Exo 2.0', serif;
 }